* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

input[type=search] {
  border-radius: 4px;
  font-size: 14px;
  background-color: #7fa2d4;
  background-image: url('../images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 13px 40px 13px 40px;
  border: 1px solid #7fa2d4;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
  width: 100%;
  min-width: 950px;
  background-color: white;
}

/* Style the header */
header {
  background-color: white;
  padding: 0;
  text-align: center;
  color: white;
}

/* Style the footer */
main {
  height: 65vh;
  text-align: center;
}

/* Style the footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}

.container {
  height: 80px;
  position: relative;
}

.center {
  display: table;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 0;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 950px;
}

.itemsFlex {

}

.items {
  color: #0046aa;
  font-size: 14px;
  max-width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow:hidden !important;
  white-space:nowrap !important;
  text-overflow: ellipsis !important;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #F2F6FB;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:visited {
  color: #002e79;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  background-color: #f2f6fb;
  padding: 10px;
  height: 500px;
  width: 100%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  text-align: left;
  font-size: 14px;
}

.item1Flex {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  gap: 5px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding: 0;
  margin-top: auto;
}

.item1ContentFlex {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  padding-left: 10px;
}

.item1ContentFlex > div:first-child {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  height: 30px;
  width: 100%;
  text-align: left;
  padding: 5px 0 15px;
  font-size: 14px;
}

.item1ContentFlex > div:last-child {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 5px 0;
  font-size: 14px;
}

.item1ContentFlexButton {
  height: 80px;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/*
ul > li.items {
  color: #0046aa;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 18px;
  margin: 0;
}
*/

.button {
  position: relative;
  border-radius: .2rem;
  font-size: 1.0rem;
  text-align: center;
  cursor: pointer;
  color: #0046aa;
  background-color: rgba(0, 0, 0, 0);
  border-color: #0046aa;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  padding: .4rem .6rem;
  width: 150px;
  min-width: 6rem;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: auto;
}

.button:hover {
  color: white;
  background-color: #0046aa;
  border-color: #002d6d;
}

.button:active {
  color: #0046aa;
  background-color: rgba(0,0,0,0);
  border-color: #002d6d;
}

.tileDiv {
  cursor: pointer;
  box-shadow: inset 0 0 1px #ccc;
  -moz-box-shadow: inset 0 0 1px #ccc;
  -webkit-box-shadow: inset 0 0 1px #ccc;
  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-out;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tileDiv > div:first-child {
  width: 100%;
  height: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tileDiv > div:last-child {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tileDiv:hover {
  box-shadow: inset 0 0 0 5px #bfcbdd;
  -moz-box-shadow: inset 0 0 0 5px #bfcbdd;
  -webkit-box-shadow: inset 0 0 0 5px #bfcbdd;
}

.tileTitleDiv {
  text-align: center;
  padding: 8px 4px 8px 4px;
}

.tileSubTitleDiv {
  text-align: center;
  padding: 8px 0 8px 0;
  font-size: 15px;
  font-weight: bold;
}

.button--primaryalternative {
  display: none;
  text-decoration: none;
  height: 50%;
  text-align: center;
  vertical-align: center;
  width: 95%;
  cursor: pointer;
  background-color: #52ae32;
  border-color: #588215;
  position: relative;
  border-radius: .2rem;
  border-width: 0 0 .2rem 0;
  border-bottom-style: solid;
  font-size: 1.3em;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: white !important;
}

.button--primaryalternative:hover {
  background-color: #588215 !important;
  color: White !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

input::-webkit-input-placeholder  { color: white;}
input:-moz-placeholder  { color: white;}
input::-moz-placeholder { color: white;}
input:-ms-input-placeholder  { color: white;}
/* focus */
input:focus::-webkit-input-placeholder { color: gray; }
input:focus:-moz-placeholder { color: gray } /* FF 4-18 */
input:focus::-moz-placeholder { color: gray } /* FF 19+ */
input:focus:-ms-input-placeholder { color: gray } /* IE 10+ */
